<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>URL</key>
            <string>https://github.com/Sound1ab/Notation/raw/master/Master-Detail%20Application3/NotePad.ipa</string>
            <key>Metadata</key>
            <dict>
                <key>kind</key>
                <string>Software</string>
                <key>bundleID</key>
                <string>com.example.MyApp</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>