<!DOCTYPE plist PUBLIC  " -//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd ">
<plist version="1.0">
 <dict>
  <key>items</key>
  <dict>
   <key>assets</key>
   <array>
    <dict>
        <key>kind</key>
        <string>software-package</string>
        <key>url</key>
        <string>https://drive.vietnamairlines.com/userportal/#/shared/public/pdDRViPQ0fC30NFX/VNAACA_PRD_Signed.ipa</string>
    </dict>
    <dict>
        <key>kind</key>
        <string>display-image</string>
        <key>needs-shine</key>
        <true/>
        <key>url</key>
        <string>https://vnaefb.vietnamairlines.com/file/fileipa/mobileops_24/mobileops_57.png</string>
    </dict>
   </array>
   <key>metadata</key>
   <array>
    <dict>
     <key>bundle-identifier</key>
     <string>com.vietnamairlines.VNAACA</string>
     <key>bundle-version</key>
     <string>1.0.0</string>
     <key>kind</key>
     <string>software</string>
     <key>subtitle</key>
        <string>Apple</string>
     <key>title</key>
     <string>My app</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>