<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string>https://drive.vietnamairlines.com/userportal/#/shared/public/pdDRViPQ0fC30NFX/VNAACA_PRD_Signed.ipa</string>
     </dict>
     <dict>
      <key>kind</key>
      <string>full-size-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string>https://github.com/shirovunguyen2k/Tranning-FE/blob/main/mobileops.png</string>
     </dict>
     <dict>
      <key>kind</key>
      <string>display-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string>https://github.com/shirovunguyen2k/Tranning-FE/blob/main/mobileops_57.png</string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>H663873Z9V.com.vietnamairlines.VNAACA</string>
     <key>bundle-version</key>
     <string>136</string>
     <key>kind</key>
     <string>software</string>
     <key>subtitle</key>
     <string>Apple</string>
     <key>title</key>
     <string>VNAACA</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>