body {
    font-family: 'Sono', sans-serif;
  }

  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    .pricing-container{
      flex-direction: column;
      height: 100%;
    }

  }
  .pricing-container{
    display: flex;
   
    gap: 2rem;
    justify-content: center;
  
    align-items: center;
    height: 100vh;
  }
  .pricing-plan {
    flex: 1;
    min-width: 300px;
    background-color: rgb(186, 195, 195);
   
    text-align: center;
    border-radius: 7px;
    padding: 15px;
    
  }
  li{
    list-style: none;
  }
  
  .plan-title {
    font-weight: bold;
  }
  .plan-price{
    font-weight: bold;
    font-size: xx-large;
  }
  .plan-button{
    background-color: orange;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
  }