.container{
    width: 560px;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(8,70px);
    grid-template-rows: repeat(8,70px);
}
.black{
    /* width: 70px;
    height: 70px; */
    background-color: black;
}
.white{
    /* width: 70px;
    height: 70px; */
    background-color: rgb(182, 179, 179);
}
